<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- Hero Section Start -->
    <section class="hero-section">

        <div>
            <nav>
                <div class="div-logo">
                    <img src="/img/logo-icon.png" alt="">
                    <h1>SiBarkas.id</h1>
                </div>
                <div class="div-list">
                    <ul>
                        <a href="#home">Home</a>
                        <a href="#shop">Shop</a>
                        <a href="#saved">Saved</a>
                        <a href="#user">User</a>
                    </ul>
                    <button class="search-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <line x1="21" y1="21" x2="16.65" y2="16.65" />
                        </svg>
                    </button>
                </div>
            </nav>
        </div>

    </section>
    <!-- Hero Section End -->


    <!-- Item Section Start -->
    <section class="item-section">
        <div>
            <div class="div-item">
                <div class="item-list">

                </div>
            </div>
        </div>
    </section>
    <!-- Item Section End -->

</body>
</html>