<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>


    <!-- Login Section Start -->
    <main>
        <section class="section-login">
            <div class="div-title">
                <p>Login</p>
            </div>
            <div class="div-form">
                <form action="" class="login-form" method="POST">
                    <span>
                        <p class="input-title">Username</p>
                        <div class="login-input">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" />
                            </svg>
                            <input type="text" name="name" placeholder="Type your username">
                        </div>
                        <span>
                            <div></div>
                        </span>
                    </span>
                    <span>
                        <p class="input-title">Password</p>
                        <div class="login-input">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
                                <path d="M7 11V7a5 5 0 0 1 10 0v4" />
                            </svg>
                            <input type="password" name="password" placeholder="Type your password">
                        </div>
                        <span>
                            <div></div>
                        </span>
                        <div>
                            
                        </div>
                    </span>
                    <span>
                        <input type="submit" value="LOGIN">
                    </span>
                </form>
                <div>
                    <a href="http://localhost:3000/sign-up">SIGN UP</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Login Section End -->
    

</body>
</html>