<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/products.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>
<body>
    
<%- include('../layouts/navbar') %>


    <!-- Products Section Start -->
    <section class="product-section">
        <div class="div-product-section">

            <!-- Baris Produk Start -->
            <div class="row-product">
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-keyboard" alt="">
                    <div class="product-info">
                        <div>
                            <p>Gaming Keyboard</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp350.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-mouse" alt="">
                    <div class="product-info">
                        <div>
                            <p>Gaming Mouse</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp100.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-chair" alt="">
                    <div class="product-info">
                        <div>
                            <p>Kursi Gaming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp1.500.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-pc" alt="">
                    <div class="product-info">
                        <div>
                            <p>PC Gaming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp12.000.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-keyboard" alt="">
                    <div class="product-info">
                        <div>
                            <p>Gaming Keyboard</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp350.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-mouse" alt="">
                    <div class="product-info">
                        <div>
                            <p>Gaming Mouse</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp100.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-chair" alt="">
                    <div class="product-info">
                        <div>
                            <p>Kursi Gaming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp1.500.000,-</p>
                        </div>
                    </div>
                </div>
                <div class="product-items">
                    <img src="https://source.unsplash.com/800x600/?gaming-pc" alt="">
                    <div class="product-info">
                        <div>
                            <p>PC Gaming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur.</p>
                        </div>
                        <div>
                            <p>Rp12.000.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Baris Produk End -->

        </div>
    </section>
    <!-- Products Section End -->


<%- include('../layouts/footer') %>
    
</body>
</html>