
body {
    font-family: montserrat;
}

.home-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-home-1 {
    height: 30%;
    margin: 0 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-home-1 > p:nth-child(1) {
    font-size: 40px;
    font-weight: 800;
}

.div-home-1 > p:nth-child(2) {
    font-size: 25px;
    font-weight: 600;
    color: #D97501;
}

.div-home-1 span > p {
    font-weight: 500;
    color: #555555;
}

.div-home-1 button {
    width: 150px;
    height: 40px;
    background: #18191A;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.div-home-1 button:hover {
    color: yellow;
}

.div-home-2 {
    width: 40%;
    height: 60%;
    margin: 0 150px 0 0;
    position: relative;
}

