
.product-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
}

.div-product-section {
    width: 1250px;
    margin: 200px 0 50px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #fff;
}

.row-product {
    width: 1250px;
    margin: 40px 0;
    padding: 0 40px;
    gap: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-items {
    width: 250px;
    height: 325px;
    margin: 25px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: filter 0.5s ease;
}

.product-items:hover {
    filter: brightness(65%);
}

.product-items img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.product-items div {
    width: 100%;
    height: 50%;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info div:nth-child(1) {
    width: 100%;
    height: 120px;
}

.product-info div:nth-child(1) > p:nth-child(1) {
    width: 90%;
    margin: 10px 10px;
    font-family: 'Open Sauce One',sans-serif;
    font-size: 16px;
}

.product-info div:nth-child(1) > p:nth-child(2) {
    width: 90%;
    height: auto;
    margin: 10px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 13.8px;
    color: #444;
    word-wrap: break-word;
}

.product-info div:nth-child(2) {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product-info div:nth-child(2) p {
    margin: 0 20px 0 0;
    font-weight: 500;
}

.div-no-product {
    width: 100%;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
}

.img-no-product {
    height: 350px;
}

.caption-no-product {
    width: 100%;
    color: #333;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

